<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
        <rewrite>
            <rules>
                <!-- Test Rewrite Rule -->
                <rule name="TestRewrite" stopProcessing="true">
                    <match url=".*" />
                    <action type="Redirect" url="/404.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>