<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /kyoto-tours/
  
    # Allow direct access to files and folders
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
  
    # Redirect all other requests to index.html
    RewriteRule ^index.html/(.*)$ /kyoto-tours/index.html [L]
  </IfModule>